/* style.css */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: roboto;
    
}



div {
    navigation: 1px solid red;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 100px 100px 100px;
    color: #f9faf8;
    
}

.logo-main {
    font-size: 30px;
    font-weight:bold ;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.menu-item {
    list-style-type: none;
    font-weight: 500;
}

.body-wrapper{
   
    background-color: #1f2937;
}


.hero-section {
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 20px 100px;
}

.container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-basis: 360px;
    flex-shrink: 0;
    flex-grow: 1;
}

.hero-section-container {
    gap: 20px;
}

.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
}

.container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    background-color: gray;
    noborder: 1px solid red  

}


.hero-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #f9faf8;
}

.content-one-text {
    font-size: 48px;
    font-weight: 900;
}

.content-two-text {
    color: #e5e7eb;
    font-size: 18px;
}

.content-three-button {
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}

.main-button {
    background-color: #3882f6;
    color:#f9faf8;
    padding: 8px 25px;
    border-radius: 7px;
}

.body-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    background-color: #ededed;
    height: fit-content;
}



.section-one-title {
    display: flex;
    max-height: fit-content;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    nobackground-color: red;
    noborder: 2px solid green;
    width: auto;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    noborder: 5px solid blue;
    max-height: 400px;
    flex-wrap: nowrap;
    flex-shrink: 1;
    
  
}

.grid-items {
    display: flex;
    width: 50%;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 100px;
    padding: 10px;
    border-radius: 10px;
    color: #222222;
    noborder: 5px solid yellow;
    
    
}

img {
    noborder: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.09);
    
}

div p {
    padding: 0px 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.body-section-two {
    background-color: #e5e7eb;
    border: 1px solid green;
    padding: 100px 200px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.body-section-three {
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three-container {
    width: 700px;
    height: 150px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.section-three-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    noborder: 5px solid green;
    width: 50%;
    padding-left: 30px;
    padding-bottom: 0px;
}

.section-three-main-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: azure;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.section-three-subtitle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: azure;
    font-size: 20px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    text-align: start;
}

.section-three-right {
    noborder: 5px solid blue;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.secondary-button {
    background-color: #3882f6;
    color:#f9faf8;
    font-weight: bolder;
    font-size: 15px;
    padding: 8px 30px;
    border-radius: 7px;
    border: 1px solid azure;

}